bocy {
    background: #f1f1f1;
}

.player-turn-display {
    font-size: 1.75em;
    text-align: center;
    margin-top: 50px;
}

.player-turn-display span {
    background: #222;
    padding: 10px 15px;
    margin: 0 10px;
    font-weight: bold;
    color: white;
    border: 5px solid black;
}

.player-turn-display span.white {
    background: #fff;
    border-color: #222;
    color: #222;
}

.board-container {
    width: 480px;
    height: 480px;
    margin: 50px auto 0 auto;
    padding: 25px;
    background: #F0ECDA;
}
.board-squares {
    list-style: none;
    padding: 0;
    margin: 0;
}

.board-squares li {
    float: left;
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: helvetica, arial, sans-serif;
    color: #999;
    cursor: pointer;
}

.board-squares li.dark {
    background: #ddd;
}

.board-squares li.has-piece.hasControl:hover {
    border: 8px solid rgba(0,0, 255, 0.25);
    margin: -8px;
    position: relative;
    z-index: 100;
}

.board-squares li.viable-move,
.board-squares li.viable-move:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 255, 0.35) inset;
}


.board-squares li span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    background: #fff;
    border: 2px solid #ccc;
    color: #999;
    border-radius: 50%;
    font-size: 0.8em;
    font-weighT: bold;
}

.board-squares li span.black {
    color: #fff;
    background: #222;
    border-color: #222;
}
